@mixin datagridCellColors {
  .v-grid-body .v-grid-cell.redDatagrid {height: 90px; background-color: rgb(255,220,220); color: rgb(0,0,0);}
  .v-grid-body .v-grid-cell.orangeDatagrid {height: 90px; background-color: rgb(255,210,90); color: rgb(0,0,0);}
  .v-grid-body .v-grid-cell.greenDatagrid {height: 90px; background-color: rgb(220,255,220); color: rgb(0,0,0);}
  .v-grid-body .v-grid-cell.yellowDatagrid {height: 90px; background-color: rgb(255,255,220); color: rgb(0,0,0);}
  .multiLineGrid .v-grid-body .v-grid-cell {height: 90px;}
  }