<!--<link rel="stylesheet" type="text/css" href="tnBrowse.css" />-->
<div location="tnFilter" class="tnFilter"/>
<table class="left-tables">
    <tr>
        <td>
            <div location="gbClass" class="gbClass"></div>
        </td>
        <td>
            <div location="gbTypes" class="gbTypes"></div>
        </td>
        <td>
            <div location="gbTns" class="gbTns"></div>
        </td>
        <td>
            <div location="gbTabs" class="gbTabs"></div>
        </td>

    </tr>
</table>