@mixin smallRichTextArea($primary-stylename: smallRichTextArea) {
    .#{$primary-stylename} .gwt-RichTextToolbar-bottom {
        display: none;
    }

    .#{$primary-stylename} .gwt-PushButton-up[icon-id="richTextArea.justifyLeftLabel"] {
        display: none;
    }

    .#{$primary-stylename} .gwt-PushButton-up[icon-id="richTextArea.justifyCenterLabel"] {
        display: none;
    }

    .#{$primary-stylename} .gwt-PushButton-up[icon-id="richTextArea.justifyRightLabel"] {
        display: none;
    }

    .#{$primary-stylename} .gwt-PushButton-up[icon-id="richTextArea.indentLabel"] {
        display: none;
    }

    .#{$primary-stylename} .gwt-PushButton-up[icon-id="richTextArea.outdentLabel"] {
        display: none;
    }

    .#{$primary-stylename} .gwt-PushButton-up[icon-id="richTextArea.hrLabel"] {
        display: none;
    }

    .#{$primary-stylename} .gwt-PushButton-up[icon-id="richTextArea.olLabel"] {
        display: none;
    }

    .#{$primary-stylename} .gwt-PushButton-up[icon-id="richTextArea.ulLabel"] {
        display: none;
    }

    .#{$primary-stylename} .gwt-PushButton-up[icon-id="richTextArea.insertImageLabel"] {
        display: none;
    }

    .#{$primary-stylename} .gwt-PushButton-up[icon-id="richTextArea.createLinkLabel"] {
        display: none;
    }

    .#{$primary-stylename} .gwt-PushButton-up[icon-id="richTextArea.removeLinkLabel"] {
        display: none;
    }

    .#{$primary-stylename} .gwt-PushButton-up[icon-id="richTextArea.removeFormatLabel"] {
        display: none;
    }
}