<div location="tnFilter" class="tnFilter"></div>
<table class="main-tn-frame-test">
    <tr>
        <td width="30%">
            <div location="bpanControls" class="bpanControls"></div>
        </td>
    </tr>
    <tr>
        <div margin-buttom="50px">
            <td width="30%">
                <table class="tn-pick-test">
                    <tr>
                        <td class="tncol-test" width="30%">
                            <div location="gbTns" class="gbTns-test"></div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="tncol" width="70%">
                <div location="cardFrame" class="cardFrame">
                </div>
            </td>
        </div>
    </tr>
</table>
