<div location="tnFilter" class="tnFilter"></div>
<table class="main-tn-frame">
    <tr>
        <td width="50%">
            <div location="bpanControls" class="bpanControls"></div>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <table class="tn-pick">
                <tr>
                    <td class="tncol" width="46%">
                        <div location="gbClass" class="gbClass"></div>
                    </td>
                    <td class="tncol" width="27%">
                        <div location="gbTypes" class="gbTypes"></div>
                    </td>
                    <td class="tncol" width="27%">
                        <div location="gbTns" class="gbTns"></div>
                    </td>
                </tr>
            </table>
        </td>
        <td class="tncol" width="50%">
            <div location="cardFrame" class="cardFrame"></div>
        </td>
    </tr>
</table>
