<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="MOBDEKBKP"
                      transaction-type="RESOURCE_LOCAL">
        <class>ru.spacecorp.mobdekbkp.entity.Material</class>
        <class>ru.spacecorp.mobdekbkp.entity.TyponominalBody</class>
        <class>ru.spacecorp.mobdekbkp.entity.Country</class>
        <class>ru.spacecorp.mobdekbkp.entity.CompanyType</class>
        <class>ru.spacecorp.mobdekbkp.entity.CompanyLicenseType</class>
        <class>ru.spacecorp.mobdekbkp.entity.CompanyLicense</class>
        <class>ru.spacecorp.mobdekbkp.entity.Company</class>
        <class>ru.spacecorp.mobdekbkp.entity.TyponominalQualityLevelNative</class>
        <class>ru.spacecorp.mobdekbkp.entity.TyponominalQualityLevelImport</class>
        <class>ru.spacecorp.mobdekbkp.entity.SolderBrand</class>
        <class>ru.spacecorp.mobdekbkp.entity.FluxBrand</class>
        <class>ru.spacecorp.mobdekbkp.entity.GlueType</class>
        <class>ru.spacecorp.mobdekbkp.entity.InstallMethod</class>
        <class>ru.spacecorp.mobdekbkp.entity.TyponominalInstallParameters</class>
        <class>ru.spacecorp.mobdekbkp.entity.Typonominal</class>
        <class>ru.spacecorp.mobdekbkp.entity.TyponominalAnalog</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterInformationSource</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterPersistenceInfo</class>
        <class>ru.spacecorp.mobdekbkp.entity.CompanyTypeEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.TypeMathModelParameters</class>
        <class>ru.spacecorp.mobdekbkp.entity.Type</class>
        <class>ru.spacecorp.mobdekbkp.entity.Parameter</class>
        <class>ru.spacecorp.mobdekbkp.entity.ParameterValue</class>
        <class>ru.spacecorp.mobdekbkp.entity.TypeClass</class>
        <class>ru.spacecorp.mobdekbkp.entity.TypeClassType</class>
        <class>ru.spacecorp.mobdekbkp.entity.TypeClassCharacteristic</class>
        <class>ru.spacecorp.mobdekbkp.entity.TypeProviderEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.TypeManufacturerEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.UnitDev</class>
        <class>ru.spacecorp.mobdekbkp.entity.Device</class>
        <class>ru.spacecorp.mobdekbkp.entity.DevicePart</class>
        <class>ru.spacecorp.mobdekbkp.entity.TypeCalicoholderEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.DevicePartListPlanned</class>
        <class>ru.spacecorp.mobdekbkp.entity.DevicePartListPlannedEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.DeviceListProject</class>
        <class>ru.spacecorp.mobdekbkp.entity.DeviceListProjectEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.DeviceListProjectAddition</class>
        <class>ru.spacecorp.mobdekbkp.entity.DeviceListProjectAdditionEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterListAllowing</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterListType</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterListAllowingEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.DevicePartsEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.DeviceComplect</class>
        <class>ru.spacecorp.mobdekbkp.entity.DeviceComplectList</class>
        <class>ru.spacecorp.mobdekbkp.entity.DevicePartListComplect</class>
        <class>ru.spacecorp.mobdekbkp.entity.DevicePartListComplectEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.ApplicationNewTyponominalAdd</class>
        <class>ru.spacecorp.mobdekbkp.entity.ApplicationNewTyponominalDev</class>
        <class>ru.spacecorp.mobdekbkp.entity.ApplicationOkrInfo</class>
        <class>ru.spacecorp.mobdekbkp.entity.ApplicationCommonEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.ApplicationCommonDev</class>
        <class>ru.spacecorp.mobdekbkp.entity.Currency</class>
        <class>ru.spacecorp.mobdekbkp.entity.Cost</class>
        <class>ru.spacecorp.mobdekbkp.entity.TyponominalPurchaseParameters</class>
        <class>ru.spacecorp.mobdekbkp.entity.DeviceListProjectApplication</class>
        <class>ru.spacecorp.mobdekbkp.entity.TypeClimaticImplementation</class>
        <class>ru.spacecorp.mobdekbkp.entity.UnitVal</class>
        <class>ru.spacecorp.mobdekbkp.entity.TermsAndDefinitions</class>
        <class>ru.spacecorp.mobdekbkp.entity.Substrate</class>
        <class>ru.spacecorp.mobdekbkp.entity.SubstrateEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.CompanyNeed</class>
        <class>ru.spacecorp.mobdekbkp.entity.LibAttributes</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterRejection</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterDbFail</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterEntranceTests</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterCertificateTests</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterDbRefuseTests</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterDbRefuseDefects</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterDbRefuse</class>
        <class>ru.spacecorp.mobdekbkp.entity.OuterFailAndRefuses</class>
        <class>ru.spacecorp.mobdekbkp.entity.ApplicationNewDevEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.SupportInfo</class>
        <class>ru.spacecorp.mobdekbkp.entity.OperationConditions</class>
        <class>ru.spacecorp.mobdekbkp.entity.AlterClassReliability</class>
        <class>ru.spacecorp.mobdekbkp.entity.AlterClassMil</class>
        <class>ru.spacecorp.mobdekbkp.entity.AlterClassGost2710</class>
        <class>ru.spacecorp.mobdekbkp.entity.AlterClassGost56649</class>
        <class>ru.spacecorp.mobdekbkp.entity.DeviceFilterConditions</class>
        <class>ru.spacecorp.mobdekbkp.entity.Handbook</class>
        <class>ru.spacecorp.mobdekbkp.entity.HandbookEntry</class>
        <class>ru.spacecorp.mobdekbkp.entity.HandbookCad</class>
        <class>ru.spacecorp.mobdekbkp.entity.tc.MappingEntity</class>
        <class>ru.spacecorp.mobdekbkp.entity.ParameterCategory</class>
        <class>ru.spacecorp.mobdekbkp.entity.TyponominalQualityLevelImportSettings</class>
        <class>ru.spacecorp.mobdekbkp.entity.StrLib</class>
        <class>ru.spacecorp.mobdekbkp.entity.StrRec</class>
        <class>ru.spacecorp.mobdekbkp.entity.StrLibSettings</class>
        <class>ru.spacecorp.mobdekbkp.entity.StrRecSettings</class>
        <class>ru.spacecorp.mobdekbkp.entity.CompanyNeedApplication</class>
    </persistence-unit>
</persistence>
